* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Roboto Light", sans-serif;
    outline: none;
    list-style: none;
}

body {
    background-color: #F4F5F8;
}

a.header-top-link {
    color: #6E7284;
}

a.header-top-link.active {
    color: #F04716;
}

a.call {
    color: #4788FF;
}

a.sale {
    color: #FFFA2F !important;
}

.button {
    border: 1px solid #DEDFE7;
    border-radius: 10px;
}

.not-visible {
    display: none !important;
}

.container {
    margin: 0 370px 0 370px;
}

.content-section {
    margin-bottom: 50px;
}

.top-header {
    background-color: #F4F5F8;
}

.top-header .content {
    justify-content: space-between;
    font-size: 14px;
}

.top-header .first {
    width: 10%;
}

.top-header .second,
.top-header .third,
.address,
.top-header .content,
.mid-header,
.mid-header .first,
.mid-header .third,
.bottom-header .content,
.bottom-header a,
.contacts .contact-icons,
.mid-header .third .button,
.bottom-footer .content .logo,
.bottom-footer .content {
    display: flex;
    align-items: center;
}

.top-header .second {
    width: 55%;
    justify-content: space-between;
}

.top-header .third {
    width: 20%;
}

.top-header .third p {
    color: #36383F;
}

.top-header .third a,
.top-header .third p {
    font-size: 15px;
}

.top-header .third p:first-child {
    margin-right: 20px;
}

.address img {
    height: 20px;
    width: 20px;
}

.address span {
    color: #36383F;
}

.mid-header {
    justify-content: space-between;
    padding: 30px 0;
}

.mid-header .first {
    width: 25%;
}

.mid-header .first img {
    margin-right: 10px;
}

.mid-header .first .site-name {
    color: #F04716;
}

.mid-header .first .site-description {
    color: #0A4ECB;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.mid-header .second {
    width: 40%;
    position: relative;
}

.mid-header .second .search {
    padding: 15px 20px 15px 50px;
    border-radius: 10px;
    width: 100%;
    border: 1px solid #DEDFE7;
    transition: 1s all ease;
}

.mid-header .second .search:hover,
.mid-header .second .search:focus,
.mid-header .third .button:hover,
.mid-header .third .button:focus,
.mid-header .third .button:hover svg path {
    border-color: #4788FF;
}

.mid-header .third .button.favorite:hover svg path {
    stroke: #4788FF;
}

.mid-header .third .button.cart:hover svg path {
    fill: #4788FF;
}

.mid-header .third .button:active,
.mid-header .third .button:active svg path {
    background-color: #0A4ECB;
}

.mid-header .third .button.favorite:active svg path {
    stroke: #ffffff;
}

.mid-header .third .button.cart:active svg path,
.mid-header .third .button.cart:active p,
.mid-header .third .button.cart:active p span {
    fill: #ffffff;
    color: #ffffff;
}

.mid-header .second img {
    position: absolute;
    top: 14px;
    left: 20px;
}

.mid-header .second .submit {
    border: none;
    background-color: #fff;
    color: #4788FF;
    font-size: 16px;
    position: absolute;
    top: 14px;
    right: 20px;
}

.mid-header .third {
    width: 20%;
    justify-content: space-evenly;
}

.mid-header .third .button {
    padding: 14px;
    transition: 1s all ease;
}

.mid-header .third .button p {
    margin-left: 10px;
    color: #6E7284;
    font-size: 13px;
}

.bottom-header {
    background-color: #0A4ECB;
}

.bottom-header .bottom-header-link:hover,
.bottom-header .dropdown:hover {
    background-color: #4788FF;
}

.bottom-header a,
.bottom-header .dropdown {
    padding: 17px 30px;
    color: #ffffff;
    transition: 1s all ease;
}

.bottom-header .dropdown span {
    margin: 0 10px;
}

.bottom-header .bottom-header-link {
    width: 15%;
}

.bottom-header .dropdown {
    width: 25%;
    position: relative;
}

.bottom-header .dropdown .dropdown-menu {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 54px;
    background-color: #1D1E22;
    width: 265px;
    transition: 1s all ease;
    z-index: 1000;
}

.bottom-header .dropdown .dropdown-menu a:hover {
    background: linear-gradient(to right, #1D1E22 0%, #0A4ECB 100%);
}

.old-price {
    text-decoration: line-through;
}

.product-price-action {
    color: #F04716 !important;
}

.content-section h2 {
    color: #36383F;
}

.category-card {
    padding: 40px 68px;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 20px;
    text-align: center;
    transition: all .5s ease;
}

.category-card:hover {
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.category-card img {
    width: 115px;
    height: 115px;
    margin-bottom: 15px;
}

.category-card p {
    color: #36383F;
    text-align: center;
}

.pay-and-delivery {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 90px 100px;
    border-radius: 20px;
    background-color: white;
}

.pay-and-delivery .block {
    width: 45%;
}

.pay-and-delivery .block p {
    color: #36383F;
    margin-bottom: 20px;
}

.pay-and-delivery .block a {
    color: #4788FF;
}

.mailing {
    background-color: #0A4ECB;
}

.mailing .content {
    padding: 75px 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mailing .content .mailing-text,
.mailing .content .mailing-form {
    width: 47%;
}

.mailing .content .mailing-text h2 {
    margin-bottom: 10px;
}

.mailing .content .mailing-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mailing .content .mailing-form input,
.mailing .content .mailing-form button[type=submit] {
    padding: 25px 35px;
    border-radius: 10px;
    outline: none;
    border: none;
}

.mailing .content .mailing-form input {
    width: 55%;
    background-color: #04358F;
    color: #DEDFE7;
}

.mailing .content .mailing-form button[type=submit] {
    background-color: #FFC62F;
    text-align: center;
    color: #1D1E22;
    font-weight: bold;
}

footer .content h2 {
    margin-bottom: 30px;
}

.upper-footer {
    background-color: #1D1E22;
    padding: 100px 0;
}

.upper-footer .content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 15px;
    color: white;
}

.upper-footer .contacts {
    width: 18%;
}

.upper-footer .contacts a {
    display: block;
    margin-bottom: 20px;
}

.upper-footer a {
    color: white;
}

.upper-footer a:hover {
    color: #FFC62F;
}

.upper-footer .contacts p {
    color: #A3A6B2;
}

.contacts .contact-icons {
    justify-content: space-between;
}

.upper-footer .catalog {
    width: 40%;
}

.upper-footer .catalog .catalog-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;
}

.upper-footer .catalog .catalog-items a {
    display: inline-block;
    flex: 1 0 40%;
}

.upper-footer .useful {
    width: 20%;
}

.upper-footer .useful .useful-links a {
    display: block;
    margin-bottom: 20px;
}

.bottom-footer {
    background-color: #111112;
    padding: 40px 0;
}

.bottom-footer .content {
    justify-content: space-between;
}

.bottom-footer .content .logo {
    color: white;
}

.bottom-footer .content .logo img {
    margin-right: 20px;
}

.copyright {
    color: white;
}
