@import "base.css";

body {
    background-color: #F4F5F8;
    padding-bottom: 200px;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
    margin-bottom: 50px;
}

.banner .slide-banner {
    width: 66%;
    position: relative;
}

.slide-banner-wrapper {
    width: 100% !important;
    height: 500px !important;
}

.banner .slide-banner .navigation {
    position: absolute;
    width: 25%;
    right: 0;
    top: 400px;
    z-index: 1000;
}

.slide-banner-pagination,
.slide-banner-button-prev,
.slide-banner-button-next,
.photo-examples .photo-examples-swiper-button-next,
.photo-examples .photo-examples-swiper-button-prev {
    z-index: 1000;
}

.slide-banner-pagination {
    text-align: center;
    color: #6f727b !important;
    font-weight: bold;
}

.slide-banner-button-prev,
.slide-banner-button-next,
.photo-examples .photo-examples-swiper-button-next,
.photo-examples .photo-examples-swiper-button-prev {
    background-color: #36383F;
    border-radius: 50%;
    width: 40px !important;
    height: 40px !important;
    color: white !important;
}

.slide-banner-button-prev::after,
.slide-banner-button-next::after,
.photo-examples .photo-examples-swiper-button-next::after,
.photo-examples .photo-examples-swiper-button-prev::after {
    font-size: 22px !important;
    text-align: center;
    margin: 0 auto;
}

.banner .extra-banner {
    width: 32%;
}

.slide-banner-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.slide-banner-slide .slide-header,
.slide-banner-slide .slide-title {
    width: 65%;
}

.slide-banner-slide img {
    width: 100%;
    display: block;
    object-fit: cover;
    height: 100%;
}

.slide-banner-slide .slide-info {
    padding: 50px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 65%;
    height: 80%;
}

.slide-banner-slide .slide-info h2 {
    font-size: 40px;
    width: 100%;
    color: #0A4ECB;
}

.slide-banner-slide .slide-info .slide-title {
    font-size: 15px;
    width: 100%;
    color: #36383F;
}

.slide-link.button {
    padding: 20px 36px;
    width: 45%;
    text-align: center;
    background: linear-gradient(to right, #F04716 0%, #FFC62F 100%);
    border: none;
    color: white;
}

.extra-banner-card {
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 20px;
    background: no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.extra-banner-card .extra-banner-card__header {
    width: 65%;
    margin-bottom: 20px;
    color: #36383F;
}

.extra-banner-card .extra-banner-card__title {
    width: 50%;
    margin-bottom: 40px;
    color: #36383F;
}

.extra-banner-card .extra-banner-card__link {
    color: #0A4ECB;
}

.content-section {
    margin-bottom: 50px;
}

.content-section .categories {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.content-section .categories {
    margin-top: 20px;
}

.content-section .categories .category-card {
    width: 20%;
    margin-left: 10px;
}

.content-section .swiper {
    padding: 20px;
    justify-content: space-between;
    display: flex;
    width: 100%;
}

.products-slide {
    position: relative;
}

.content-section .navigation .slide-banner-button-prev {
    left: -35px;
    position: absolute;
}

.content-section .navigation .slide-banner-button-next {
    right: -75px;
    position: absolute;
}

.content-section .products-slide .swiper .products-slide-wrapper .product-card {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    transition: all .5s ease-in-out;
    width: 20%;
    position: relative;
}

.content-section .products-slide .swiper .products-slide-wrapper .product-card .add-to-favorite {
    position: absolute;
    right: 16px;
    border: 1px solid #DEDFE7;
    border-radius: 15px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.content-section .products-slide .swiper .products-slide-wrapper .product-card .add-to-favorite:hover {
    background-color: #F04716;
    border: none;
}

.content-section .products-slide .swiper .products-slide-wrapper .product-card .add-to-favorite:hover path:first-child {
    stroke: white;
}
.content-section .products-slide .swiper .products-slide-wrapper .product-card .add-to-favorite:hover path:last-child {
    fill: white;
    stroke: #F04716;
}

.content-section .products-slide .swiper .products-slide-wrapper .product-card:not(:last-child) {
    margin-right: 25px;
}

.content-section .products-slide .swiper .products-slide-wrapper .product-card:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.content-section .products-slide .swiper .products-slide-wrapper .product-card img {
    max-width: 100%;
    max-height: 340px;
    margin-bottom: 10px;
}

.content-section .products-slide .swiper .products-slide-wrapper .product-card .product-info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.content-section .products-slide .swiper .products-slide-wrapper .product-card .product-info > p {
    color: #36383F;
    margin-bottom: 35px;
    transition: all .3s ease-in-out;
}

.content-section .products-slide .swiper .products-slide-wrapper .product-card:hover .product-info > p {
    color: #0A4ECB;
}

.add-to-cart svg {
    width: 50px;
    height: 50px;
}

.content-section .products-slide .swiper .products-slide-wrapper .product-card .product-info .product-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-section .products-slide .swiper .products-slide-wrapper .product-card .product-info .product-actions
.product-prices p:first-child {
    color: #A3A6B2;
}


.content-section .products-slide .swiper .products-slide-wrapper .product-card .product-info .product-actions
.product-prices p:last-child {
    color: #36383F;
}

.content-section .products-slide .swiper .products-slide-wrapper .product-card .product-info .product-actions
.add-to-cart svg {
    border: 1px solid #DEDFE7;
    border-radius: 10px;
}

.content-section .products-slide .swiper .products-slide-wrapper .product-card .product-info .product-actions
.add-to-cart:hover svg {
    background-color: #F04716;
    border: 1px solid #F04716;
}

.content-section .products-slide .swiper .products-slide-wrapper .product-card .product-info .product-actions
.add-to-cart:hover svg path {
    fill: white;
}

.content-section .products-slide .swiper .products-slide-wrapper .product-card .product-info .product-actions
.add-to-cart:hover svg path:last-child {
    stroke: #F04716;
}

.about h2,
.about .short-about {
    margin-bottom: 20px;
}

.short-about {
    display: flex;
    justify-content: space-between;
}

.benefits {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.benefits .benefit {
    width: 17%;
    text-align: center;
    padding: 45px 30px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

.benefits .benefit img {
    width: 54px;
    height: 54px;
}

.benefits .benefit p {
    font-size: 15px;
    color: #36383F;
    margin-left: 20px;
    font-weight: 600;
}

.examples {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.examples .photo-examples {
    width: 49%;
}

.photo-examples .swiper-wrapper img {
    width: 100%;
    border-radius: 10px;
}

.photo-examples .photo-examples-swiper-navigation img {
    height: 90px;
}

.photo-examples .photo-examples-swiper-main img {
    height: 390px;
    border-radius: 15px;
}

.photo-examples .swiper {
    padding: 20px 0;
}

.examples-description {
    width: 43%;
    padding: 30px;
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
}

.examples-description .description-list li {
    list-style: inside;
    color: #F04716;
    margin-bottom: 15px;
}

.examples-description .description-list li span {
    color: #6E7284;
}

.pay-and-delivery {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 90px 100px;
    border-radius: 20px;
    background-color: white;
}

.pay-and-delivery .block {
    width: 45%;
}

.pay-and-delivery .block p {
    color: #36383F;
    margin-bottom: 20px;
}

.pay-and-delivery .block a {
    color: #4788FF;
}
