@import "base.css";

.banner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
    margin-bottom: 50px;
}

.banner .slide-banner {
    width: 66%;
    position: relative;
}

.slide-banner-wrapper {
    width: 100% !important;
    height: 500px !important;
}

.banner .slide-banner .navigation {
    position: absolute;
    width: 25%;
    right: 0;
    top: 400px;
    z-index: 1000;
}

.slide-banner-pagination {
    text-align: center;
    color: #6f727b !important;
    font-weight: bold;
}

.banner .extra-banner {
    width: 32%;
}

.slide-banner-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.slide-banner-slide .slide-header,
.slide-banner-slide .slide-title {
    width: 65%;
}

.slide-banner-slide img {
    width: 100%;
    display: block;
    object-fit: cover;
    height: 100%;
}

.slide-banner-slide .slide-info {
    padding: 50px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 65%;
    height: 80%;
}

.slide-banner-slide .slide-info h2 {
    font-size: 40px;
    width: 100%;
    color: #0A4ECB;
}

.slide-banner-slide .slide-info .slide-title {
    font-size: 15px;
    width: 100%;
    color: #36383F;
}

.slide-link.button {
    padding: 20px 36px;
    width: 45%;
    text-align: center;
    background: linear-gradient(to right, #F04716 0%, #FFC62F 100%);
    border: none;
    color: white;
}

.extra-banner-card {
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 20px;
    background: no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.extra-banner-card .extra-banner-card__header {
    width: 65%;
    margin-bottom: 20px;
    color: #36383F;
}

.extra-banner-card .extra-banner-card__title {
    width: 50%;
    margin-bottom: 40px;
    color: #36383F;
}

.extra-banner-card .extra-banner-card__link {
    color: #0A4ECB;
}

.content-section .categories {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.content-section .categories {
    margin-top: 20px;
}

.content-section .categories .category-card {
    width: 20%;
    margin-left: 10px;
}

.content-section .swiper {
    padding: 20px;
    justify-content: space-between;
    display: flex;
    width: 100%;
}

.products-slide {
    position: relative;
}

.content-section .navigation .slide-banner-button-prev {
    left: -35px;
    position: absolute;
}

.content-section .navigation .slide-banner-button-next {
    right: -75px;
    position: absolute;
}

.content-section .products-slide .swiper .products-slide-wrapper .product-card {
    width: 20%;
}

.content-section .products-slide .swiper .products-slide-wrapper .product-card:not(:last-child) {
    margin-right: 25px;
}

.about h2,
.about .short-about {
    margin-bottom: 20px;
}

.short-about {
    display: flex;
    justify-content: space-between;
}

.benefits {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.benefits .benefit {
    width: 17%;
    text-align: center;
    padding: 45px 30px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

.benefits .benefit img {
    width: 54px;
    height: 54px;
}

.benefits .benefit p {
    font-size: 15px;
    color: #36383F;
    margin-left: 20px;
    font-weight: 600;
}

.examples {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.examples .photo-examples {
    width: 49%;
}

.photo-examples .swiper-wrapper img {
    width: 100%;
    border-radius: 10px;
}

.photo-examples .photo-examples-swiper-navigation img {
    height: 90px;
}

.photo-examples .photo-examples-swiper-main img {
    height: 390px;
    border-radius: 15px;
}

.photo-examples .swiper {
    padding: 20px 0;
}

.examples-description {
    width: 43%;
    padding: 30px;
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
}

.examples-description .description-list li {
    list-style: inside;
    color: #F04716;
    margin-bottom: 15px;
}

.examples-description .description-list li span {
    color: #6E7284;
}
